<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.versatiledevs.logicane">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/versdevs2b"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
       <activity android:name=".LoginActivity">
        <!--<activity android:name=".Data_visualization">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Admin" />
        <activity android:name=".newUserActivity" />
        <activity android:name=".deleteUserActivity" />
       <activity android:name=".Data_visualization" />
        <activity android:name=".patient_activity"
            android:label="@string/app_name"
            android:parentActivityName="com.versatiledevs.logicane.LoginActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.versatiledevs.logicane.LoginActivity" />
        </activity>

        <activity android:name=".deleteDataActivity"></activity>
    </application>

</manifest>